<div class="dashboard">
    <div class="row dashboard-header">
        <div class="dashboard-title">
            <h3>Dashboard</h3>
        </div>
    </div>
    <div class="row dashboard-body">
        <div class="col-md-8">
            <div>
                <i class="material-icons goback-icon"
                   *ngIf="showForm"
                   (click)="showForm=!showForm">
                 keyboard_backspace
                </i>
                <button mat-raised-button
                        *ngIf="!showForm"
                        color="primary" 
                        class="addproject-btn"
                        (click)="showForm = !showForm">
                    <i class="material-icons add-icon">add</i>
                    Project
                </button>
            </div>
            <div @slideHorizontal *ngIf="!showForm">
                <admin-project-table></admin-project-table>
            </div>
            <div *ngIf="showForm" class="mat-elevation-z4">
                <project-form></project-form>
            </div>
        </div>
    </div>
</div>